[submodule "date_time"]
	path = libs/date_time
	url = https://github.com/boostorg/date_time.git
	fetchRecurseSubmodules = on-demand
[submodule "filesystem"]
	path = libs/filesystem
	url = https://github.com/boostorg/filesystem.git
	fetchRecurseSubmodules = on-demand
[submodule "assign"]
	path = libs/assign
	url = https://github.com/boostorg/assign.git
	fetchRecurseSubmodules = on-demand
[submodule "functional"]
	path = libs/functional
	url = https://github.com/boostorg/functional.git
	fetchRecurseSubmodules = on-demand
[submodule "smart_ptr"]
	path = libs/smart_ptr
	url = https://github.com/boostorg/smart_ptr.git
	fetchRecurseSubmodules = on-demand
[submodule "timer"]
	path = libs/timer
	url = https://github.com/boostorg/timer.git
	fetchRecurseSubmodules = on-demand
[submodule "serialization"]
	path = libs/serialization
	url = https://github.com/boostorg/serialization.git
	fetchRecurseSubmodules = on-demand
[submodule "container"]
	path = libs/container
	url = https://github.com/boostorg/container.git
	fetchRecurseSubmodules = on-demand
[submodule "move"]
	path = libs/move
	url = https://github.com/boostorg/move.git
	fetchRecurseSubmodules = on-demand
[submodule "preprocessor"]
	path = libs/preprocessor
	url = https://github.com/boostorg/preprocessor.git
	fetchRecurseSubmodules = on-demand
[submodule "function"]
	path = libs/function
	url = https://github.com/boostorg/function.git
	fetchRecurseSubmodules = on-demand
[submodule "conversion"]
	path = libs/conversion
	url = https://github.com/boostorg/conversion.git
	fetchRecurseSubmodules = on-demand
[submodule "phoenix"]
	path = libs/phoenix
	url = https://github.com/boostorg/phoenix.git
	fetchRecurseSubmodules = on-demand
[submodule "config"]
	path = libs/config
	url = https://github.com/boostorg/config.git
	fetchRecurseSubmodules = on-demand
[submodule "foreach"]
	path = libs/foreach
	url = https://github.com/boostorg/foreach.git
	fetchRecurseSubmodules = on-demand
[submodule "ratio"]
	path = libs/ratio
	url = https://github.com/boostorg/ratio.git
	fetchRecurseSubmodules = on-demand
[submodule "fusion"]
	path = libs/fusion
	url = https://github.com/boostorg/fusion.git
	fetchRecurseSubmodules = on-demand
[submodule "signals2"]
	path = libs/signals2
	url = https://github.com/boostorg/signals2.git
	fetchRecurseSubmodules = on-demand
[submodule "exception"]
	path = libs/exception
	url = https://github.com/boostorg/exception.git
	fetchRecurseSubmodules = on-demand
[submodule "type_traits"]
	path = libs/type_traits
	url = https://github.com/boostorg/type_traits.git
	fetchRecurseSubmodules = on-demand
[submodule "numeric_conversion"]
	path = libs/numeric/conversion
	url = https://github.com/boostorg/numeric_conversion.git
	fetchRecurseSubmodules = on-demand
[submodule "predef"]
	path = libs/predef
	url = https://github.com/boostorg/predef.git
	fetchRecurseSubmodules = on-demand
[submodule "multi_index"]
	path = libs/multi_index
	url = https://github.com/boostorg/multi_index.git
	fetchRecurseSubmodules = on-demand
[submodule "variant"]
	path = libs/variant
	url = https://github.com/boostorg/variant.git
	fetchRecurseSubmodules = on-demand
[submodule "detail"]
	path = libs/detail
	url = https://github.com/boostorg/detail.git
	fetchRecurseSubmodules = on-demand
[submodule "integer"]
	path = libs/integer
	url = https://github.com/boostorg/integer.git
	fetchRecurseSubmodules = on-demand
[submodule "regex"]
	path = libs/regex
	url = https://github.com/boostorg/regex.git
	fetchRecurseSubmodules = on-demand
[submodule "optional"]
	path = libs/optional
	url = https://github.com/boostorg/optional.git
	fetchRecurseSubmodules = on-demand
[submodule "iterator"]
	path = libs/iterator
	url = https://github.com/boostorg/iterator.git
	fetchRecurseSubmodules = on-demand
[submodule "math"]
	path = libs/math
	url = https://github.com/boostorg/math.git
	fetchRecurseSubmodules = on-demand
[submodule "utility"]
	path = libs/utility
	url = https://github.com/boostorg/utility.git
	fetchRecurseSubmodules = on-demand
[submodule "algorithm"]
	path = libs/algorithm
	url = https://github.com/boostorg/algorithm.git
	fetchRecurseSubmodules = on-demand
[submodule "io"]
	path = libs/io
	url = https://github.com/boostorg/io.git
	fetchRecurseSubmodules = on-demand
[submodule "scope_exit"]
	path = libs/scope_exit
	url = https://github.com/boostorg/scope_exit.git
	fetchRecurseSubmodules = on-demand
[submodule "system"]
	path = libs/system
	url = https://github.com/boostorg/system.git
	fetchRecurseSubmodules = on-demand
[submodule "local_function"]
	path = libs/local_function
	url = https://github.com/boostorg/local_function.git
	fetchRecurseSubmodules = on-demand
[submodule "iostreams"]
	path = libs/iostreams
	url = https://github.com/boostorg/iostreams.git
	fetchRecurseSubmodules = on-demand
[submodule "typeof"]
	path = libs/typeof
	url = https://github.com/boostorg/typeof.git
	fetchRecurseSubmodules = on-demand
[submodule "proto"]
	path = libs/proto
	url = https://github.com/boostorg/proto.git
	fetchRecurseSubmodules = on-demand
[submodule "compatibility"]
	path = libs/compatibility
	url = https://github.com/boostorg/compatibility.git
	fetchRecurseSubmodules = on-demand
[submodule "thread"]
	path = libs/thread
	url = https://github.com/boostorg/thread.git
	fetchRecurseSubmodules = on-demand
[submodule "concept_check"]
	path = libs/concept_check
	url = https://github.com/boostorg/concept_check.git
	fetchRecurseSubmodules = on-demand
[submodule "range"]
	path = libs/range
	url = https://github.com/boostorg/range.git
	fetchRecurseSubmodules = on-demand
[submodule "test"]
	path = libs/test
	url = https://github.com/boostorg/test.git
	fetchRecurseSubmodules = on-demand
[submodule "static_assert"]
	path = libs/static_assert
	url = https://github.com/boostorg/static_assert.git
	fetchRecurseSubmodules = on-demand
[submodule "tuple"]
	path = libs/tuple
	url = https://github.com/boostorg/tuple.git
	fetchRecurseSubmodules = on-demand
[submodule "asio"]
	path = libs/asio
	url = https://github.com/boostorg/asio.git
	fetchRecurseSubmodules = on-demand
[submodule "tokenizer"]
	path = libs/tokenizer
	url = https://github.com/boostorg/tokenizer.git
	fetchRecurseSubmodules = on-demand
[submodule "spirit"]
	path = libs/spirit
	url = https://github.com/boostorg/spirit.git
	fetchRecurseSubmodules = on-demand
[submodule "bind"]
	path = libs/bind
	url = https://github.com/boostorg/bind.git
	fetchRecurseSubmodules = on-demand
[submodule "xpressive"]
	path = libs/xpressive
	url = https://github.com/boostorg/xpressive.git
	fetchRecurseSubmodules = on-demand
[submodule "signals"]
	path = libs/signals
	url = https://github.com/boostorg/signals.git
	fetchRecurseSubmodules = on-demand
[submodule "array"]
	path = libs/array
	url = https://github.com/boostorg/array.git
	fetchRecurseSubmodules = on-demand
[submodule "any"]
	path = libs/any
	url = https://github.com/boostorg/any.git
	fetchRecurseSubmodules = on-demand
[submodule "chrono"]
	path = libs/chrono
	url = https://github.com/boostorg/chrono.git
	fetchRecurseSubmodules = on-demand
[submodule "mpl"]
	path = libs/mpl
	url = https://github.com/boostorg/mpl.git
	fetchRecurseSubmodules = on-demand
[submodule "libs/function_types"]
	path = libs/function_types
	url = https://github.com/boostorg/function_types.git
	fetchRecurseSubmodules = on-demand
[submodule "libs/atomic"]
	path = libs/atomic
	url = https://github.com/boostorg/atomic.git
	fetchRecurseSubmodules = on-demand
